article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}


/*HEADER*/


.menu {
	text-transform: uppercase;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 5%;
	padding-right: 5%;
}

h2 {
	float: left;
	padding: 10px;
	margin: 0;
	font-family: 'Raleway:600', sans-serif;
}

.menu ul {
	list-style-type: none;	
	float: right;
	padding: 0;
	margin: 0;
	padding-top: 5px;
	display: flex;
}

.menu ul li {
	float: left;
	padding: 0;
	margin: 0;
	display: inline-block;
	justify-content: space-between;
}

.menu ul a {
	display: inline-block;
	text-decoration: none;
	color: black;
	font-family: 'Raleway:600', sans-serif;
	font-weight: 700;
	padding: 10px;
}

.menu ul a:hover {
	font-weight: 900;
	padding: 6px;
}

.background {
	width: 100%;
	height: 800px;
	overflow: hidden;
	position: relative;
}

.background div p:nth-child(2) {
	font-family: 'Noto Serif', serif;
	font-style: italic;
	text-transform: lowercase;
	margin: 0;
}

.background div p:nth-child(3) {
	font-family: 'Raleway:600', sans-serif;
	font-size: 18px;
	margin: 20px;
}

.background-img {
	position: absolute;
	width: 1600px;
	margin-top: -200px;
}

h1 {
	text-transform: uppercase;
	margin: 0;
}

.overl p {
	
	font-family: 'Raleway', sans-serif;
	line-height: 1.6;
	font-size: 14px;
}

.overl {
	background-color: white;
	position: relative;
	opacity: 0.8;
	width: 60%;
	padding: 4% 4% 2% 4%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}


/*HEADER ENDS*/
/*MAIN*/


main{
	margin: 0;
	padding: 0;
}


/*SECTION1*/


.section1 {
	margin: 0;
	text-align: center;
	background-color: #F6F7F9;
	padding: 5%;
}

.section1 h3 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	font-family: 'Raleway:600', sans-serif;
}

.figure_set1 {
	width: 100%;
	margin: 0;
	display: flex;	
	padding: 0;
}

.enclouser {
	width: 100%;
	display: block;
	overflow: hidden;
	padding: 0;
	margin: 0;
	position: relative;
}

.enclouser:hover .enclouserdiv {
	display: block;
}

.enclouserdiv {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 45%;
	background-color: #FF000077;
	display: none;
}

.bottom_left_column_top_row .enclouserdiv {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 20%;
	background-color: #FF000077;
	display: none;
}

.enclouserdiv a{
	color: white;	
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

.imgone {
	width: 100%;
	margin-top: -42%;
}

.imgtwo {
	width: 200%;
	margin-left: -100%;
	margin-top: -30%;
}

.imgthree {
	width: 200%;
	margin-top: -20%;
}


/*SECTION 1*/


.section1 figure{
	float: left;
	width: 33.33%;
	padding: 1% 1%;
}


/*COMMON*/


figure figcaption h4 {
	padding: 0;
	margin: 0;
	font-family: 'Raleway:600', sans-serif;
}

.bottom_right_column_recent h4 {
	padding: 0;
	margin: 0;
}

figcaption {
	background-color: #FFFFFF;
	padding: 5%;
	padding-top: 10%;
	overflow-y: auto;
}

figcaption p {
	text-align: left;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	line-height: 1.6;
	font-size: 14px;
	margin: 20px;
}

figcaption div p {
	padding: 0;
	text-align: center;
	font-family: 'Noto Serif', serif;
	font-style: italic;
	font-size: 14px;
	margin: 5px 0 0 20px;
}

figcaption a {
	color: red;	
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Raleway:600', sans-serif;
}

h4 {
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
}


/*SECTION 2*/


.section2 {
	text-align: center;
}

.section2 h3 {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	padding: 3% 0 0 0;
	margin: 0;
}

.bottom_enclouser {
	width: 100%;
	padding: 2% 5% 10% 5%;
}

.bottom_left_column {
	width: 66.66%;
	float: left;
	position: relative;
}

.bottom_left_column_top_row {
	width: 100%;
}

.bottom_left_column_bottom_row {
	width: 100%;
}

.bottom_left_column_top_row figure{
	width: 100%;
	overflow: hidden;
}	

.bottom_left_column_top_row figure figcaption {
	background-color: #F6F7F9;
	padding: 5%;
}

.audience {
	width: 100%;
	margin-top: -5%; 
	margin-bottom: -18%;
}

.imgfour {
	width: 160%;
	margin-left: -45%;
	margin-bottom: -20%;
}
.imgfive {
	width: 151%;
	margin-left: -20%;
	margin-bottom: -10%;
}
.imgsix {
	width: 125%;
	margin-left: -13%;
	margin-right: -100%;
}

.bottom_left_column_bottom_row figure {
	float: left;
	width: 49.5%;
	padding: 0;
}

.bottom_left_column_bottom_row figure figcaption {
	background-color: #F6F7F9;
	padding: 5%;
}

.bottom_left_column_top_row {
	background-color: #F6F7F9;
}

.bottom_left_column_bottom_row {
	padding: 1% 0 0 0;
	margin: 0;
}

.spacer {
	width: 1%;
	height: 10px;
	float: left;
}

.page_link {
	margin: 5% 0 0 0;
	padding: 0;
	position: relative;
	text-align: center;
}

.page_link ul {
	padding: 0;
	margin: auto;
	width: calc( 6 * 50px - 10px );
}

.page_link ul li label:hover {
	background-color: #aaaaaa;
}

.page_link ul li input {
	display: none;
}

.page_link ul li label:active,
.page_link ul li input:focus + label {
    background: #aaa;
}

.page_link ul li input:checked + label {
    background: #b4b4b4;
}

.page_link li {
	list-style-type: none;
	float: left; /* Float the buttons side by side */
	height: 40px;
	width: 40px;	
	margin-right: 10px; 
	position: relative;
}

.page_link li:last-child {
	margin-right: 0px; 
}

.page_link ul li label {
	background-color: #F6F7F9;
	height: 100%;
	width: 100%;	
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	color: black;
	text-align: center;
	font-weight: bolder;
	border: 1px solid #F6F7F9;
	border-radius: 50%;
	-moz-border-radius: 50%;
	padding: 8px;
	font-family: 'Noto Serif', serif;
	font-weight: 800;
}


/*SIDE SECTION*/


.bottom_right_column {
	width: 33%;
	float: left;
	padding-left: 2%;
}

.bottom_right_column_about {
	margin: 0;
	padding: 0;
	padding-bottom: 2%;
	background-color: #F6F7F9;
	text-align: left;
}

.bottom_right_column_about figure figcaption {
	background-color: #F6F7F9;
	padding: 5%;
}

.bottom_right_column_email {
	margin: 0;
	padding: 0;
	padding-bottom: 2%;
	padding-top: 2%;
	/*background-color: #F6F7F9;*/

}

.bottom_right_column_email input {
	border: 1px solid gray;
}

.bottom_right_column_recent a {
	text-decoration: none;
	color: black;
	font-family: 'Raleway:600', sans-serif;
}

.bottom_right_column_recent {
	background-color: #F6F7F9;
	margin: 0;
	padding: 5% 2%;
}

.bottom_right_column_email_recent {
	margin: 0;
	padding: 0; 
}

.bottom_right_column_recent li {
	text-align: left;
	padding: 5px;
}

.bottom_right_column_recent ul {
	padding: 2% 4%;
	list-style-position: inside;
}

.bottom_right_column_email input {
	padding: 10px;
	font-family: 'Noto Serif', serif;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 1%;
	width: 100%;
	text-align: center;
}

.bottom_right_column_email button {
	padding: 15px;
	color: white;
	background-color: red;
	text-transform: uppercase;
	border: none;
	width: 100%;
}


/*FOOTER*/


footer {
	background-color: #444444;
	margin: 0;
	padding: 0; 
}

.footer_body {
	padding: 3% 5%;
}

.footer_text1 {
	float: left;
	width: 35%;
	color: white;
}

.footer_links {
	width: 15%;
	float: left;
}

.footer_links ul {
	padding: 0;
}

.footer_links li{
	list-style-type: none;
	padding: 5px;
}

.footer_links a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

.footer_text2 {
	float: left;
	width: 50%;
	color: white;
	margin: 0;
	padding: 0;
}

.footer_text1 h4 {
	text-align: left;
}

.footer_text2 h4 {
	text-align: left;
}

.footer_links li a:hover {
	font-weight: bolder;
}

.footer_button {
	width: 100%;
}

.footer_button input {
	padding: 10px;
	font-family: 'Noto Serif', serif;
	font-style: italic;
	font-weight: bold;
	overflow: hidden;
	margin-bottom: 5px;
	width: 70%;
}

.footer_button button {
	padding: 15px;
	color: white;
	background-color: red;
	text-transform: uppercase;
	border: none;
	overflow: hidden;
}

button {
	letter-spacing: 2px;
}

button:hover {
	background-color: darkred;
}

.footer_footer {
	background-color: black;
	color: white;
	padding: 0;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 15px;
	padding-bottom: 15px;
}

.footer_footer p{
	float: left;
	padding: 0;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

.footer_footer ul {
	padding: 0;
	margin: 0;
}

.footer_footer .icon_links li {
	list-style-type: none;
	float: right;
}

.footer_footer .icon_links a {
	text-decoration: none;
	padding: 5px;
	color: white;
}

/* Portrait tablet and small desktops */
@media (max-width: 1080px) {
}

@media (max-width: 940px) {
	.bottom_left_column {
		width: 100%;
	}

	.bottom_left_column_bottom_row figure {
		width: 49%;
		padding: 0;
	}

	.bottom_right_column {
		width: 100%;
		padding-top: 50px;
	}

	.bottom_right_column_about {
		float: left;
		width: 49%;
	}

	.bottom_right_column_email_recent {
		width: 49%;
		float: left;
	}

	.bottom_right_column_email {
		margin: 0;
		padding: 0;
		padding-bottom: 2%;
		padding-top: 0%;
	}
}

@media (max-width: 480px) {
	.menu {
		padding-top: 1%;
		padding-bottom: 1%;
		padding-left: 5%;
		padding-right: 5%;
		text-align: center;
	}

	h2 {
		float: none;
	}

	.menu ul {
		display: flex;
		float: none;
		margin: auto;
		justify-content: center;
	}

	.menu ul a {
		display: inline-block;
		text-decoration: none;
		color: black;
		font-family: 'Raleway:600', sans-serif;
		font-weight: 700;
		padding: 4px;
		font-size: 10px;
	}

	.figure_set1 {
		width: 100%;
		margin: 0;
		padding: 0;
		display: block;	
		padding-top: 20px;
	}

	.menu ul a:hover {
		font-weight: 900;
		padding: 4px;
	}

	h2 {
		padding: 10px;
		margin: 0;
		font-family: 'Raleway:600', sans-serif;
		text-align: center;
		width: 100%;
	}

	h1 {
		text-transform: uppercase;
		margin: 0;
		font-family: 'Raleway', sans-serif;
		font-size: 20px;
		font-weight: 800;
	}

	.background {
		width: 100%;
		height: 400px;
		overflow: hidden;
		position: relative;
	}

	.background div p:nth-child(3) {
		font-family: 'Raleway:600', sans-serif;
		font-size: 14px;
		margin: 5px;
	}

	.section1 figure{
		width: 100%;
		padding: 1% 1%;
	}

	.overl {
		background-color: white;
		position: relative;
		opacity: 0.7;
		width: 80%;
		padding: 4% 4% 2% 4%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	.background-img {
		position: absolute;
		width: 1000px;
		margin-top: -300px;
		margin-left: -120px;
	}

	.bottom_left_column {
		width: 100%;
	}

	.bottom_left_column_bottom_row figure {
		width: 100%;
		padding: 0;
	}

	.bottom_right_column {
		width: 100%;
		padding-top: 50px;
	}

	.footer_text1 {
		width: 100%;
		color: white;
	}

	.footer_links {
		width: 100%;
	}

	.footer_text2 {
		width: 100%;
		color: white;
		margin: 0;
		padding: 0;
	}

	.footer_links li{
		list-style-type: none;
		padding: 5px;
		float: left;
	}

	.bottom_right_column_about {
		float: none;
		width: 100%;
	}

	.bottom_right_column_email_recent {
		width: 100%;
		float: none;
	}
}

