article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* 
{ 
	box-sizing: border-box; 
	color: #87896f;
}

header {
	background-color: #252823;
	padding: 10px;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

header a {
}

.titlebar {
	display: flex;
	padding: 15px;
}

.banner {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #FCF9F4;
	display: flex;
}

.logo {
	display: flex;
	width: 50%;
	justify-content: center;
	align-items: center;
	margin-right: auto;
	padding: 10px;
}

.logo img {
	height: 80px;
}

.grow {
	margin-left: auto;
	margin-right: auto; 
	
}

.login a, .register a, .cart a, .blog a {
	padding: 10px;
}

main {
	flex-grow: all;
}

footer {
	background-color: #39411B;
	height: 20%;
}

.menuImages {
	width: 100%;
}

.menuImages img {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.enclouser {
	position: relative;
	width: 20%;
	float: left;
	margin: 0;
	padding: 0;
}

.enclouser:hover .enclouserdiv {
	display: flex;
}

.enclouserdiv {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #000000aa;
	display: none;
	flex-direction: column;
	justify-content: center;

}

.enclouser img {
	vertical-align: top;
}

.enclouserdiv p {
	color:white;
}

.enclouserdiv div {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 0;
	margin: 0;

}

.enclouserdiv div img {
	width: 30px;
	height: 30px;
	background-color: white;
	border: none;
	padding: 5px;
	margin: 0;
}

.enclouserdiv p:fist-child {
	font-weight: bold;
}

.enclouserdiv p:nth-child(n+2) {
	font-size: 10px;
	text-transform: uppercase;
}

header nav {
	width: 50%;
	display: flex;
	align-items: center;
}

header nav ul {
	text-decoration: none;
	margin: 0px;
	margin-left: auto;
	padding: 0px;
	float: right;
}

header nav ul li {
	display:inline;
	padding-right: 30px;
	list-style-type: none;
	font-family: 'arial';
}

header nav ul li a {
	text-decoration: none;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
}

.cell {
	width: 100%;
	/*height: 800px;*/
}

.aboutus {
	padding: 20px 20px 100px 100px;
}

.aboutus figure div img {
	width: 100%;
}

.aboutus figure {
	display: flex;
	width: 100%;
	vertical-align: top;
}

.aboutus figure figcaption {
	width: 80%;
	padding: 10%;
}

.featured {
	padding: 20px;
	padding-top: 100px;
	padding-bottom: 50px;
}

.featured div {
	padding-top: 20px;
	text-align: center;
}

.featured h2 {
	text-align: center;
    margin: 0;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 400;
    color: #646569;
    padding: 20px;
}

.shop-all {
	padding: 8px 16px 6px 16px;
    border: 1px solid #646569;
    text-transform: uppercase;
    text-decoration: none;
}

.product-container {
    margin: 20px 200px 20px 200px;
    padding: 0;
    font-size: 0;
}

.product-container .box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    min-height: 1px;
    vertical-align: top;
    text-align: center;
    width: 25%;
    margin: 0 0 20px 0;
    display: inline-block;
}

.product-container figure .image-table {
    max-width: 100%;
    width: 100%;
    display: table;
    table-layout: auto;
}

.product-container figure figcaption {
    margin-top: 10px;
    line-height: 1.3;
}



footer {
	background-color: ##3C441B;
	margin: 0;
	padding: 0; 
}

.footer_body {
	padding: 3% 5%;
}

.footer_text1 {
	float: left;
	width: 35%;
	color: white;
}

.footer_links {
	width: 15%;
	float: left;
}

.footer_links ul {
	padding: 0;
}

.footer_links li{
	list-style-type: none;
	padding: 5px;
}

.footer_links a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

.footer_text2 {
	float: left;
	width: 50%;
	color: white;
	margin: 0;
	padding: 0;
}

.footer_text1 h4 {
	text-align: left;
}

.footer_text2 h4 {
	text-align: left;
}

.footer_links li a:hover {
	font-weight: bolder;
}

.footer_button {
	width: 100%;
}

.footer_button input {
	padding: 10px;
	font-family: 'Noto Serif', serif;
	font-style: italic;
	font-weight: bold;
	overflow: hidden;
	margin-bottom: 5px;
	width: 70%;
}

.footer_button button {
	padding: 15px;
	color: white;
	background-color: red;
	text-transform: uppercase;
	border: none;
	overflow: hidden;
}


.footer_footer {
	background-color: black;
	color: white;
	padding: 0;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 15px;
	padding-bottom: 15px;
}

.footer_footer p{
	float: left;
	padding: 0;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

.footer_footer ul {
	padding: 0;
	margin: 0;
}

.footer_footer .icon_links li {
	list-style-type: none;
	float: right;
}

.footer_footer .icon_links a {
	text-decoration: none;
	padding: 5px;
	color: white;
}
