article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { box-sizing: border-box; }

a{
	text-decoration: none;
	color: white;
}
header{
	background-image: url(assets/Images/background2.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	/*width: 1080px;*/
	/*height:600px ;*/
	height: 100vh;
	margin: 0;
	padding: 0;
	position: relative;
}
h4{
	margin: 0;
	padding: 0;
}
/*.images {
	display: inline-block;
	text-align: center;
	position: absolute;
	top: 60%;
	left: 60%;
	transform: translate(-50%, -50%);
	
}*/
.eye{
	position: absolute;
	top: 85%;
	left: 60%;
	transform: translate(-30%, -50%);
	border: 2px solid orange;
	color: white;
}
.genuine{
	
	position: absolute;
	top: 40%;
	left: 60%;
	transform: translate(-50%, -100%);
}
.foodpassion{
	position: absolute;
	top: 60%;
	left: 60%;
	transform: translate(-50%, -50%);
}
.cooking{
	position: absolute;
	top: 70%;
	left: 60%;
	transform: translate(-50%, -50%);
}
.side-bar{
	
	top: 0;
	margin:0;
	padding: 0;
	height: 100%;
	width: 200px;
	background-color: gray;
	opacity: 0.7;
	color: white;
	z-index: 5;
	position: absolute;
}
.links a{
	text-decoration: none;
	font-size: 12px;
	color: white;

}

.links li:hover {
	font-weight: bold;
}
/*ul{
		list-style-image: url(assets/chevron-double.png);
		width: 12px;
		height: 
}*/
img{
	color: white;
}

li a{
	text-decoration: none;
}

.socialLinks i:hover {
	font-weight: bolder;
}

.general .fa-twitter{
	/*text-align: center;*/
	padding-left: 50px;
	color: orange;
	font-size: 13px;
	/*width: 90px;*/
}
.fileLink {
	word-wrap: break-word;
}


/* BODY */

body{
	margin: 0;
	padding: 0;
}
.chefIntro{
	float: left;
	background-color: #EBE5D7;
	flex: 1;
}
.chefPadding {
	padding: 10%;
	padding-left: 20%;
}
.chefBlock {
	display: flex;
}
.image1 img{
	width: 100px;
	height: 100px;
	filter: grayscale(100%);
	/*float: left;*/
}
.image1{
	border-radius: 50%;
	float: left;
	width: 80px;
	height: 80px;
	overflow: hidden;
}
.gallery {
	text-align: center;
	background-color: black;
	padding: 4%;
	margin: 0;
	color: white;
}
.image2{
	/*float: left;*/
}
.chefPic {
	flex: 1;
	float: left;
	/* max-width: 100%; 
    height: auto; */
}

.chefPic img {
	width: 100%;
}

.menuImages{
	width: 100%;
}
.menuImages img{
	margin: 0;
	padding: 0;
	float: left;
	width: 20%;
}
/*img:nth-of-type(5n){
	margin-right: 0;
}*/

.button ul li {
	float: left;
}

.menu {
	margin-top: 5%;
}

.menu h2, p {
	margin: 2% 20% 2% 20%; 
	text-align: center;
}

.menu_items {
	margin: 2% 20% 2% 20%; 
	display: flex;
}

.menu_items figure {
	width: calc(90% / 4);
	justify-content: space-between;
	margin: 10px;
}