body{
	font-style: sans-serif;
	/*color: #ba55d3;*/
	color: rgba(0,0,0,0.3);
	margin: 0;
	/*background: cyan;*/
}
a{
	color: #333;
	text-decoration: none;
}
h2{
	border-bottom: 1px solid #eee;
	/*text-decoration: underline;*/
}
h3{
	margin: 6px 0;
}
h4{
	margin: 0;
}

h1,h2{
	font-family: : blue;
}
h1,h3{
	color: blue;
}
.wrapper{
	width:80% ;
	margin:0 auto ;
	max-width:1280px ;
}
/*Header styles*/
main section{
	margin: 80px 0 120px;
}

header{
	height: 500px;
	/*background-color: #eee;
	background-image: url(images/jony-ariadi-197568-unsplash.jpg);
	background-repeat: no-repeat;
	/*background-size: 300px;
	background-size: cover;
	background-position: center;
	background-attachment: fixed/cover;*/
	/*background-size: cover;
	background-size: url(images/jony-ariadi-197568-unsplash.jpg) no-repeat top fixed;  */
	
	 /*background: linear-gradient( 45deg, blue, red, orange, cyan );*/
	  /*background: linear-gradient( to bottom,rgba(0,0,0,0.1 ), rgba(0,0,0,0.4) );*/

	  background: linear-gradient( to bottom,rgba(255,255,255,0.4 ), rgba(255,255,255,0.4) ),url(images/dora-reis-249014-unsplash.jpg) no-repeat top fixed;
	  background-size: cover;
	  
}
.featuted-projects div a {
	padding: 20px 0;
	display: block;/*its not working*/
}

/*.featured-projects .no-border{
	border-bottom: none;
}*/

.featured-projects div{

	transition: 0.3s all ease;
	border-bottom: 1px solid lightgrey;
	/*padding: 20px 0;*/
}

.featured-projects div:last-of-type{   /*last-child can also be used*/
	border-bottom: none;
}
/*Featured project Section*/
.featured-projects div:hover{
	background: #eee;
}

footer{
	background: blue;
	color: #eee;
	padding: 30px 0;

}
footer p{
	margin:0;
}
/**h3 {
			color: blue;
			font-size: 120px;
		}
</--section--/>
h3.special{
	color: orange;
}
h2.special{
	color: yellow;
}
h3{
	color: red;

}

body{
	font-family: sans-serif;
	color: darkblue;
	font-style: italic;
	font-size: 16px;
}
h1,h2,h3.special{
	font-size: 16px;
}
section{
	font-family: monospace;
}**--/

