article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { box-sizing: border-box; }

body{
	background-color: lightgrey;
}
.visuallyhidden:not(:focus):not(:active) {
          position: absolute;
          width: 1px;
          height: 1px;
          margin: -1px;
          border: 0;
          padding: 0;
          white-space: nowrap;
          clip-path: inset(100%);
          clip: rect(0 0 0 0);
          overflow: hidden;
    }
    a{

    }
.facebook {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #3B5998;
    background-image: url(facebook-f.svg);
    background-repeat: no-repeat;
    background-position: 5% center;
    background-size: 16px 16px;
    padding: 20px 30px;
    background-color: #3B5998;
    /*margin-left: 5%;*/
    text-align: center;
}

.facebook_link {
	text-decoration: none;
	color: white;
}

.google {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid lightgray;
    background-image: url(google.svg);
    background-repeat: no-repeat;
    background-position: 5% center;
    background-size: 16px 16px;
    padding: 20px 30px;
    margin-top: 5%;
    text-align: center;
}


.google_link {
	text-decoration: none;
	color: gray;
}

.outer{
	width: 40%;
	height: 80%;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.wrapper{
	width: 80%;
	height: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.line{
	margin-top: 10px;
	border-bottom: 1px solid lightgray;
	width: 46%;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px; 
}
.or{
	float: left;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-right: 2%;
	margin-left: 2%;
}

form {
	width: 100%;
}

.email {
	-moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid lightgray;
    background-image: url(mail.png);
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 32px auto;
    padding: 20px 10px;
    margin-top: 5%;
    text-align: left;
    width: 100%;
}


.password {
	-moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid lightgray;
    background-image: url(lock.png);
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 32px auto;
    padding: 20px 10px;
    margin-top: 5%;
    text-align: left;
    width: 100%;
}

.remember {
	margin-top: 20px;
	margin-bottom: 20px;
}


.forgot {
	float: right;
/*	padding-top: 10px;
	margin-top: 10px;
*/	text-decoration: none;
	color: red;
}

.submit {
	-moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #ff5a5f;
    background-position: 5% center;
    background-size: 16px 16px;
    padding: 20px 30px;
    background-color: #ff5a5f;
    /*margin-left: 5%;*/
    text-align: center;
    display: block;
    width: 100%;
    color: white;
}

.line_bottom{
	margin-top: 10px;
	border-bottom: 1px solid lightgray;
	width: 100%;
	float: left;
	padding-bottom: 10px; 
}

.no_account{
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;  
	width: 100%;
	vertical-align: middle;
}

.signup {
	-moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #ff5a5f;
    background-color: white;
    text-align: center;
    color: white;
    float: right;
	padding: 10px 20px; 
	color: #ff5a5f;
}