article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a.button {
  border: 2px solid black;
  padding: 10px 20px;
  text-transform: uppercase;
  background: cyan; }

a.button.disabled {
  border: 2px solid grey;
  padding: 10px 20px;
  text-transform: uppercase;
  background: white; }

html {
  font-size: 62.5%; }

body {
  background: #f2f2f2;
  font-family: "Montserrat", sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(rgba(247, 247, 247, 0.4))), url(images/background-pattern.svg);
  background: -webkit-linear-gradient(top, #f7f7f7, rgba(247, 247, 247, 0.4)), url(images/background-pattern.svg);
  background: -o-linear-gradient(top, #f7f7f7, rgba(247, 247, 247, 0.4)), url(images/background-pattern.svg);
  background: linear-gradient(to bottom, #f7f7f7, rgba(247, 247, 247, 0.4)), url(images/background-pattern.svg); }

img {
  width: 100%; }

.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

article a {
  color: #333b3b;
  text-decoration: none;
  display: block; }
  article a:hover {
    color: #627272; }

article h3 {
  line-height: 1.4;
  font-weight: 300;
  margin: 0 0 6px; }

.author {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
  letter-spacing: 1.4px; }
  .author span {
    font-weight: 300; }

.articles-featured .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.articles-featured article {
  width: calc((100% / 3) - (64px / 3));
  margin-right: 32px;
  margin-bottom: 20px; }
  .articles-featured article:nth-of-type(3n) {
    margin-right: 0; }
  .articles-featured article:nth-of-type(4n) {
    width: 100%;
    margin-right: 0; }
    .articles-featured article:nth-of-type(4n) div:last-of-type {
      width: 55%;
      padding: 26px 54px; }
  .articles-featured article div:last-of-type {
    background: white;
    padding: 16px;
    position: relative;
    top: -20px;
    text-align: center;
    width: 90%;
    margin: 0 auto; }
  .articles-featured article h3 {
    font-size: 1.6rem; }

.article-gradient {
  background: -webkit-linear-gradient(315deg, #50e3c2, #85baff);
  background: -o-linear-gradient(315deg, #50e3c2, #85baff);
  background: linear-gradient(135deg, #50e3c2, #85baff);
  height: 6px;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0; }

.articles-today header {
  background: -webkit-linear-gradient(315deg, #50e3c2, #85baff);
  background: -o-linear-gradient(315deg, #50e3c2, #85baff);
  background: linear-gradient(135deg, #50e3c2, #85baff);
  padding: 8px 0;
  margin-bottom: 32px; }
  .articles-today header h2,
  .articles-today header span {
    display: inline-block;
    vertical-align: center;
    color: white;
    width: 50%; }
  .articles-today header h2 {
    font-family: 'Merriweather', serif;
    font-size: 2.4rem;
    margin: 0; }
  .articles-today header span {
    font-size: 1.6rem;
    font-weight: 300;
    text-align: right; }

.articles-today article {
  background: white;
  padding: 20px;
  margin-bottom: 32px; }
  .articles-today article > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .articles-today article div {
    width: 50%; }
    .articles-today article div:last-of-type {
      padding-left: 24px; }
  .articles-today article h3 {
    font-size: 2.8rem; }
  .articles-today article p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.4; }
    .articles-today article p:last-of-type {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
