$color-dark: #333b3b;

$article-gradient: linear-gradient(to bottom,#f7f7f7, rgba(247, 247, 247, 0.4) );
$backgrount-gradient:  linear-gradient(135deg,#50e3c2,#85baff);

$font-main: 'Montserrat', sans-serif;