<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
	<main class="wrapper">
		<article>
			<h2>Titles1</h2>
			<p>short description here.....</p>
		</article>
		<article>
			<h2>Titles2</h2>
			<p>short description here.....</p>
		</article>
		<article>
			<h2>Titles3</h2>
			<p>short description here.....</p>
		</article>
		<article>
			<h2>Titles1</h2>
			<p>short description here.....</p>
		</article>
		<article>
			<h2>Titles2</h2>
			<p>short description here.....</p>
		</article>
		<article>
			<h2>Titles3</h2>
			<p>short description here.....</p>
		</article>

	</main>
</body>
</html>