article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { box-sizing: border-box; }


/*HEADER*/

h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
	color: white;
	width: 500px;
	padding-left: 100px; 
	padding-top: 200px;
	margin: 0px;
}
h2{
	color: red;
	/*font-family: 'montserrat';*/
	font-family: 'Montserrat', sans-serif;
	font-size: 38px;
	font-weight: bold;
	text-transform: lowercase;
	
}
.heading{
	position: absolute;
	left: 100px;
	top: 62px;
}
.link1 {
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	/*color: white;*/
	/*background-color: red;*/
}
header{
	background-image: url(assets/breather-196130.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 900px;
	
}
header nav {
	padding: 0px;
	margin: 0px;
	position: absolute;
	right: 100px;
	top: 100px;
}
.link11 {
    display:inline;
    text-transform: uppercase;
    padding-left: 20px;
    font-family: 'arial';
}
.link11 a {
	color: #c2c2c2;
	text-decoration: none;
}


/*SECTION1*/


.link12{
	text-align: right;
	position: absolute;
	padding-top: 300px;
	padding-left: 20px;
	padding-right: 30px;
	width: 40%;

}
.wrapper1 img{
	padding-right: 20px;
	width: 40%;
}
.wrapper1{
	width: 60%;
	float: right;
	margin-top: 100px;
	padding-right: 10px;
	padding-left: 20px;
}
.link12 a{
	color: #ed1e24;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	text-transform: uppercase;
}

/*SECTION2*/

.link13{
	text-align: right;
	float: left;
	width: 63%;
	background-color: lightgrey;
	margin-top: 100px;
	padding-top: 200px;
	padding-right: 20px;
	padding-bottom: 393px;

	/*text-align: right;*/

}
.wrapper2 img{
	width: 62%;
	/*height: 18%;*/
}
.wrapper2{
	float: left;
	width: 37%;
	padding-left: 25px;
	margin-top: 200px;

}
.link13 a{
	color: #ed1e24;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	text-transform: uppercase;
}

/*SECTION3*/

.link14 img{
	width: 100%;
}
.link14{
		width: 63%;
		float: left;
		margin-top: 100px;
}
.wrapper3{

	background-color: lightgrey;
	text-align: left;
	width: 35%;
	margin-left: 1.4%;
	margin-top: 300px;
	padding-left: 20px;
	padding-top: 250px;
	padding-bottom: 330px;
	/*margin: 0px;*/
	float: left;
}
.wrapper3 a{
	color: #ed1e24;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	text-transform: uppercase;
}

/*SECTION4*/

.link2{
	float: left;
	margin-right: 400px;
}
.link3{
	float: left;
	margin-right: 400px;
}
p{
	color: #a09f9f;
	/*font-family: 'montserrat';*/
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	padding-right: 100px;

}
.logo{
	float: left;
	padding-right: 400px;
	padding-left: 100px;
}
.para{

	float: left;
	width: 300px;
	margin-bottom: 50px;
}

.last{
	margin-top: 100px;
	background-color: lightgrey;
}
.link21 a{
	text-decoration: none;
	color: black;
	
}
.link31 a{
	text-decoration: none;
	color: black;
}

li .link31{
	margin-left: 500px;
}


/*COMMON CODE*/


h3{
	color: #1a1a1b;
	/*font-family: 'montserrat';*/
	font-family: 'Montserrat', sans-serif;
	font-size: 33px;
	font-weight: bold;
	/*width: 300px;*/
}
h4{
	color: #a09f9f;
	/*font-family: 'montserrat';*/
	font-family: 'Montserrat', sans-serif;
	font-size: 19px;
	text-transform: uppercase;
	border-bottom: solid 1px #a09f9f;
	/*width: 100px;*/
	/*border-bottom-style: solid;*/

}
 
/*main*/
main{
	// margin: 200px;
}

/*FOOTER*/


footer{
	/*padding-top: 500px;*/
	color: #a09f9f;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	background-color: lightgrey;
	margin: 0px;
	/*float: auto;*/
	/*display:inline;*/
	/*background-color: #939393;*/
}

.foot11 {
	/*padding-top: 100px;*/
	float: left;
	text-decoration: none;
	/*padding-right: 30px;*/
}
.foot12{
	float: left;
	padding-left: 1500px;
	text-decoration: none;
	/*position: absolute;*/
}


/*.link1{
	color: white;
	display: inline;
	float: right;
	text-decoration: none;
	padding: 2px;
	/*background: pink;*/
	/*}*/



/*.link2, .link3 a{
	color: black;
	text-decoration: none;
}*/